.wrapper {
    .table {
        --border: 0.1px solid var(--color-gray-80);

        display: grid;
        grid-template-columns: repeat(var(--columns-count), minmax(0, auto));

        border-block-start: var(--border);
        border-inline-start: var(--border);

        > div {
            padding: 1rem;

            border-block-end: var(--border);
            border-inline-end: var(--border);

            text-align: center;

            a {
                color: var(--color--primary);

                text-decoration: underline;
            }

            &.heading {
                font-weight: 700;
            }

            &.fill {
                grid-column: span calc(var(--columns-count) - 1);
            }

            &.good,
            &.true {
                background-color: var(--color--success-fade);
                color: var(--color--success);
            }

            &.ok,
            &.na {
                background-color: var(--color--warning-fade);
                color: var(--color--warning);
            }

            &.bad,
            &.false {
                background-color: var(--color--danger-fade);
                color: var(--color--danger);
            }
        }
    }
}
